.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
img{
  width: 30%;
  height: 250px;
  border: 1px solid yellowgreen;
  border-radius: 10px;
}
.images{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}
#root{
  margin: 20px;
  background-color: lavenderblush;
}
button{
  margin-left: 1rem;
}
input:focus{
  outline: none;
}
